.feedback-form-container {
    width: 90%;
    height: 90%;
}

.feedback-form-container textarea {
    width: 100%;
    height: 90px;
    border-radius: 10px;
    border: none;
}

.item-feedabck-app-container {
    width: 100%;
    height: 100%;
}

.feedabck-item-main-container {
    width: 100%;
}

.app-feedback-item {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .19);
    padding: 20px;
    box-sizing: border-box;
}

.app-feedback-item img {
    max-height: 200px;
}