.goals-options-modal {
    position: absolute;
    width: 110px;
    height: 70px;
    background-color: #dedede;
    z-index: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-75px, 0px);
}

.goals-options-modal span {
    width: 90%;
}

.widthhieght0 {
    width: 0;
    height: 0;
    overflow: hidden;
}

.bg-skyblue {
    background-color: skyblue;
}

.goals-option-button {
    border-radius: 7px;
    margin: 2px;
    width: 100%;
}


.markup-textarea-container {
    display: flex;
    width: 90%;
}

.text-light-gray {
    color: rgb(113, 113, 113);

}

.ql-font-monospace {
    font-family: monospace;
}

.ql-font-serif {
    font-family: serif;
}

.left-container-markup {
    position: relative;
    width: 60%;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #e3e3e3;
    box-sizing: border-box;
    padding: 10px;
}


.right-container-markup {
    position: relative;
    width: 40%;
    border-radius: 10px;
    background-color: #e3e3e3;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}

.markup-textarea {
    max-height: 250px;
    overflow-y: auto;
    white-space: normal;
    overflow-wrap: break-word;
}

.margin-top-10 {
    margin-top: 10px;
}


/* Style the ReactQuill toolbar */
.ql-toolbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Style the ReactQuill editor area */
.ql-container {
    border: 1px solid #ccc;
    background-color: #fff;
}

.ql-tooltip .ql-editing {
    z-index: 10;
}

.title-container-markup {
    width: 100%;
}

.markup-input-tittle {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.markup-input-duedate {
    height: 30px;
    border: none;
    border-radius: 10px;
}

.edit-button {
    width: 100px;
    border-radius: 5px;
}

.button-right-markup {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-top: 7px;
}

.checklist-container-markup {
    max-height: 150px;
    overflow: auto;
}